@import url('https://fonts.googleapis.com/css2?family=Asimovian&display=swap&Nunito:ital,wght@0,200..1000;1,200..1000&family=TASA+Explorer:wght@400..800&display=swap');


*{
    margin: 0;
    padding: 0;

}


body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: black;
    color: #22D4FD;

}

.cabecalho {
    padding:  8% 0% 0% 8%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    font-family: "Nunito", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #22D4FD;
}


.apresentacao {
    padding: 5% 8%;
    display: flex;
    align-items: center;
    justify-content: space-between ;
}

.apresentacao__conteudo {
    width: 715px;
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.destaque-do-titulo {
    color: #3149FA
}


.apresentacao__conteudo__titulo {
   font-size: 36px; 
   font-family: 'Asimovian', 'sans-serif';
}

.apresentacao__conteudo__texto {
    font-size: 24px;
    font-family: "Nunito", sans-serif;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}


.apresentacao__links__subtitulo{
    font-family: "Nunito", sans-serif;
    font-weight: 400px;
    font-size: 24px;
}

.apresentacao__links__link {
    /* sans-serifbackground-color: blueviolet; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2PX solid #22D4FD;
    color:#F6F6F6;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    padding: 21.5px 0;
    text-decoration: none;


}

.apresentacao__links__link:hover {
    background-color: #272727;
}

.rodape {
    padding: 24px;
    color: #000000;
    background-color: #22D4FD;
    text-align: center;
    font-family: "Nunito", sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.apresentacao__conteudo__imagem {
    display: flex;
    width: 488px;
    height: 550px;
    border-radius: 18px;
        
}